{% extends 'bootstrap/base.html' %}

{% block title %}
    {% if title %}{{ title }} - Dictionary{% else %}Welcome to Dictionary{% endif %}
{% endblock %}

{% block navbar %}
<nav class="navbar navbar-default">
   <div class="container">
       <div class="navbar-header">
           <a class="navbar-brand" href="{{ url_for('main.index') }}">Dictionary</a>
       </div>
       <ul class="nav navbar-nav">
           <li><a href="{{ url_for('main.index') }}">Home</a></li>
           <li><a href="{{ url_for('main.my_dictionary', letter='A') }}">My dictionary</a></li>
           <li><a href="{{ url_for('main.videos', series='Friends') }}">Videos</a></li>
           <li class="dropdown">
               <a href="" class="dropdown-toggle" data-toggle="dropdown">Check youself <span class="caret"></span></a>
               <ul class="dropdown-menu">
                   <li><a href="{{ url_for('main.check_youself', word_count=10) }}">10 words</a></li>
                   <li><a href="{{ url_for('main.check_youself', word_count=20) }}">20 words</a></li>
                   <li><a href="{{ url_for('main.check_youself', word_count=30) }}">30 words</a></li>
               </ul>
           </li>
       </ul>
       <ul class="nav navbar-nav navbar-right">
           {% if current_user.is_anonymous %}
           <li><a href="{{ url_for('auth.login') }}">Login</a></li>
           {% else %}
           <li><a href="{{url_for('auth.logout') }}">Logout</a></li>
           {% endif %}
       </ul>
   </div>
</nav>
{% endblock %}

{% block content %}
<div class="container">
    {% with messages = get_flashed_messages() %}
    {% if messages %}
    {% for message in messages %}
    <div class="alert alert-info" role="alert">{{ message }}</div>
    {% endfor %}
    {% endif %}
    {% endwith %}

    {# application content needs to be provided in the app_content block #}
    {% block app_content %}{% endblock %}
</div>
{% endblock %}

{% block scripts %}
    {{ super() }}
    <script>
        function translate(sourceElem, destElem, sourceLang, destLang) {
            $.post('/translate', {
                text: $(sourceElem).val(),
                source_language: sourceLang,
                dest_language: destLang
            }).done(function(response) {
                $(destElem).val(response['text'])
            }).fail(function() {
                $(destElem).val('Error: Could not contact server.');
            });
        }

        function check_youself(hidden_elem, check_elem, button) {
            var hidden_word = $(hidden_elem).val()
            var check_word = $(check_elem).val()
            if (hidden_word == check_word) {
                $(button + ' span').removeClass().addClass('glyphicon glyphicon-ok');
            } else {
                $(button + ' span').removeClass().addClass('glyphicon glyphicon-remove');
            }
        }
    </script>
{% endblock %}