{% extends 'base.html' %}
{% import 'bootstrap/wtf.html' as wtf %}

{% block app_content %}
    {% for word in word_list %}
    <form action="" class="form-horizontal">
        <div class="form-group">
            <label for="check_youself_{{ loop.index }}" class="col-sm-2 control-label text-primary">{{ word.word|upper }}</label>
            <input type="hidden" value="{{ word.translate }}" id="check_youself_hidden_{{ loop.index }}">
            <div class="col-sm-8">
                <input type="text" class="form-control" id="check_youself_{{ loop.index }}" onkeyup="check_youself('#check_youself_hidden_{{loop.index}}', '#check_youself_{{loop.index}}', '#check_youself_button_{{loop.index}}')">
            </div>
            <button class="btn btn-default" id="check_youself_button_{{ loop.index }}" tabindex="-1"><span class="glyphicon glyphicon-question-sign"></span></button>
        </div>
    </form>
    {% endfor %}
{% endblock %}