{% extends 'base.html' %}

{% block app_content %}
    <div class="btn-group btn-group-justified">
        {% set letters='ABCDEFGHIJKLMNOPQRSTUVWXYZ' %}
        {% for letter in letters %}
        <a href="{{ url_for('main.my_dictionary', letter=letter) }}" class="btn btn-default">{{ letter }}</a>
        {% endfor %}
    </div>
   
    <h1>{{ letter }}</h1>
    
    <table class='table table-hover'>
        <tr>
            <th>Word</th>
            <th>Translate</th>
            <th>Sentence</th>
            <th>Comment</th>
            <th></th>
        </tr>
        {% for word in my_words %}
        <tr onclick="location.href = `{{url_for('main.edit_word', id=word.id)}}`">
            <td class="text-info">{{ word.word }}</td>
            <td>{{ word.translate }}</td>
            <td>{% if word.sentence %}{{ word.sentence }}{% else %}{% endif %}</td>
            <td>{% if word.comment %}{{ word.comment }}{% else %}{% endif %}</td>
            <td><a href="{{ url_for('main.delete_word', id=word.id) }}" class="btn btn-danger btn-xs">Del</a></td>
        </tr>
        {% endfor %}
    </table>
{% endblock %}